{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
Katalogas: {{ controller_name }}

    {% if controller_name == '/code'  %}
     (Dockeryje)
    {% else %}
        Kažkur kitur
    {% endif %}

    <a href="{{ path('home', {'student': "la ? & naujas domanas bas"}) }}">Pagrindinis</a>

{% endblock %}
